altgraph==0.17
APScheduler==3.7.0
cefpython3==66.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
decorator==5.0.9
future==0.18.2
geocoder==1.38.1
gobject==0.1.0
idna==2.10
ImageHash==4.2.1
macholib==1.14
MouseInfo==0.1.3
mss==6.1.0
numpy==1.21.1
opencv-python==4.5.3.56
pefile==2019.4.18
pika==1.2.0
Pillow==8.4.0
plyer==2.0.0
proxy-tools==0.1.0
PyAutoGUI==0.9.52
pycairo==1.20.0
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
pynput==1.6.8
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
pythonnet==2.5.2
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.1.1
pywebview==3.5
pywin32-ctypes==0.2.0
ratelim==0.1.6
requests==2.25.1
scipy==1.7.1
six==1.15.0
tzlocal==2.1
urllib3==1.26.4
windows-curses==2.2.0
playsound==1.2.2
