.tab-pane {
  min-width: 800px;
  min-height: 600px;
}

.card {
  top: 6rem;
  width: 29rem;
  margin: auto;
}

#register>.card {
  top: 1rem;
}

#forgotPwLn, #registerLn, #forgotPwSignInLn, #registerSignInLn, #registerEmailVerifyLn, #resetPwWithTokenSignInLn, #forgotPwResetPwWithTokenLn {
  text-align: center;
}

hr {
  margin: 1rem auto;
  background-color: #666;
}

#signInBtn, #sendEmailBtn, #registerBtn, #resetPwWithTokenBtn {
  width: 100%;
  border-radius: 18px;
  background-color: #df2176;
}

.form-check {
  margin-bottom: 1rem;
}

#forgotPwLn, #registerLn, #forgotPwSignInLn, #forgotPwResetPwWithTokenLn, #registerEmailVerifyLn, #registerSignInLn, #resetPwWithTokenSignInLn, #privacyNotice, #terms {
  color: #aaa;
}

#forgotPwLn:active, #registerLn:active, #forgotPwSignInLn:active, #forgotPwResetPwWithTokenLn:active, #registerEmailVerifyLn:active, #registerSignInLn:active, #resetPwWithTokenSignInLn:active, #privacyNotice:active, #terms:active {
  color: #df2176;
}

#forgotPwLn:hover, #registerLn:hover, #forgotPwSignInLn:hover, #forgotPwResetPwWithTokenLn:hover, #registerEmailVerifyLn:hover, #registerSignInLn:hover, #resetPwWithTokenSignInLn:hover, #privacyNotice:hover, #terms:hover {
  color: #df2176;
}

.form-control, .form-control:focus {
  margin: 1rem 0;
  color: #eee;
  background-color: #222;
}

#newEmailDiv {
  display: flex;
}

#newEmail {
  width: 80%;
}

#registerEmailVerifyLn {
  width: 20%;
  padding: .5rem 0;
  margin: auto;
}

#pswd_info ul, #pswd_info li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#pswd_info {
  padding: 1rem;
  font-size: .9rem;
  border-radius: 1rem;
  border: 1px solid #666;
}

.fa-info-circle {
  color: #df2176;
}

.tippy-box {
  border-radius: 1rem;
}

.tippy-content {
  padding: 0;
}

.invalid {
  padding-left: 22px;
  line-height: 24px;
  color: #ec3f41;
}

.valid {
  padding-left: 22px;
  line-height: 24px;
  color: #3a7d34;
}

.invalid::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d\a0";
}

.valid::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c\a0";
}

#pswd_info p {
  margin: 0;
}

a, a:hover {
  color: #df2176;
  text-decoration: none;
}