.tab-pane {
  min-width: 800px;
  min-height: 600px;
}

.card {
  top: 6rem;
  width: 29rem;
  margin: auto;
}

#resetPwLn, #registerLn, #resetPwSignInLn, #registerSignInLn {
  text-align: center;
}

hr {
  width: 70%;
  background-color: #666;
}

#signInBtn, #sendEmailBtn, #registerBtn {
  width: 100%;
  border: 1px solid #666;
  border-radius: 18px;
  background-color: #df2176;
}

.form-check {
  margin-bottom: 1rem;
}

a {
  color: #aaa;
}

a:active, a:hover {
  color: #df2176;
}

.form-control, .form-control:focus {
  color: #eee;
  background-color: #222;
}