html {
  min-width: 800px;
}

.btn {
  margin-right: 9px;
}

.btn>i:active {
  color: #df2176;
}

.btn:focus {
  box-shadow: unset;
}

#recordBtn, #playBtn {
  position: absolute;
  margin-top: 14px;
}

#recordBtn {
  right: 45px;
}

#playBtn {
  right: 0;
}

#resetPwWithOldPwBtn {
  width: 100%;
  border-radius: 18px;
  background-color: #df2176;
}

#resetPwWithOldPwProfileLn {
  text-align: center;
}

@keyframes glowing {
  0% {
    color: #9c1752;
  }

  50% {
    color: #df2176;
  }

  100% {
    color: #9c1752;
  }
}

.running {
  animation: glowing 1s infinite;
}

#ctrlPanel {
  display: flex;
  position: relative;
}

h1 {
  margin-left: 9px;
  color: #666;
}

#processList {
  width: 100%;
  table-layout: fixed;
}

#nameCol {
  width: 45%;
}

#createdCol {
  width: 30%;
}

#actionCol {
  width: 25%;
}

#logoutBtn {
  position: absolute;
  right: 0;
  margin-top: 1px;
}

#supportLn {
  position: absolute;
  right: 5rem;
  margin-top: .4rem;
}

.ferrari-red {
  color: #ff2800;
}

.white {
  color: #fff;
}

a {
  color: #aaa;
}

a:active, a:hover {
  color: #df2176;
}

a, #userEmail, #userLicenseTier {
  text-align: center;
}

#userEmail, #userLicenseTier {
  display: block;
  padding: .5rem 2rem;
}

.card {
  top: 1rem;
  width: 29rem;
  margin: auto;
}

#pswd_info p {
  margin: 0;
}

#pswd_info ul, #pswd_info li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#pswd_info {
  padding: 1rem;
  font-size: .9rem;
  border-radius: 1rem;
  border: 1px solid #666;
}

.tippy-box {
  border-radius: 1rem;
}

.tippy-content {
  padding: 0;
}

.invalid {
  padding-left: 22px;
  line-height: 24px;
  color: #ec3f41;
}

.valid {
  padding-left: 22px;
  line-height: 24px;
  color: #3a7d34;
}

.invalid::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d\a0";
}

.valid::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c\a0";
}

.form-control, .form-control:focus {
  color: #eee;
  background-color: #222;
}

.style-row {
  margin: 2rem 9rem;
}

.style-row>span {
  vertical-align: middle;
}

#userLicenseExpiryDate, #appVer {
  float: right;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  right: 9rem;
  width: 4rem;
  height: 2rem;
  margin-bottom: 0;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #df2176;
}

input:checked+.slider:before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

hr {
  width: 70%;
  background-color: #666;
}

.form-select {
  float: right;
}

.ui-widget-content [class="ui-state-default"] {
  background: none;
}

.ui-widget-content .ui-state-active {
  background: #df2176;
  border-color: #df2176;
  color: #fff;
}

.ui-widget-content [class="ui-state-default ui-state-hover"], .ui-widget-content [class="ui-state-default ui-state-focus"] {
  background: none;
  border-color: #df2176;
}

.ui-widget-content .ui-state-highlight.ui-state-hover, .ui-widget-content .ui-state-highlight.ui-state-focus {
  border-color: #df2176;
}