html {
  min-width: 800px;
}

.btn {
  margin-right: 9px;
}

.btn:active {
  color: #df2176;
}

.btn:focus {
  box-shadow: unset;
}

#recordBtn, #playBtn {
  position: absolute;
  margin-top: 14px;
}

#recordBtn {
  right: 45px;
}

#playBtn {
  right: 0;
}

@keyframes glowing {
  0% {
    color: #9c1752;
  }

  50% {
    color: #df2176;
  }

  100% {
    color: #9c1752;
  }
}

.running {
  animation: glowing 1s infinite;
}

.selected, .selected>td {
  background-color: #232323;
}

#ctrlPanel {
  display: flex;
  position: relative;
}

h1 {
  margin-left: 9px;
}

#processList {
  width: 100%;
  table-layout: fixed;
}

#nameCol {
  width: 45%;
}

#createdCol {
  width: 30%;
}

#actionCol {
  width: 25%;
}

#logoutBtn {
  position: absolute;
  right: 0;
  margin-top: 1px;
}

.ferrari-red {
  color: #ff2800;
}

.white {
  color: #fff;
}